@use "../../assets/styles/variables" as *;

.featureItem {
  display: flex;
  align-items: flex-start;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  .icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 15px; // Space between icon and text
  }

  .text {
    font-size: $font-size-xs;
    font-family: var(--font-exo);
    color: var(--color-white-100);
    line-height: 1.5;
  }
}
