// Font-sizes
$font-size-xxs: 0.75rem;
$font-size-xs: 0.875rem;
$font-size-s: 1rem;
$font-size-m: 1.125rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

// Scrollbar styles
$scroll-thumb-color: hsl(180, 1%, 57%);
$scroll-thumb-hover-color: hsl(0, 0%, 33%);

// Colors
$secondary-text-color: #a0a0a0;
$border-color-dark: #2a2a2a;
$border-color-light: #444;
$primary-text-color: #f8f8f8; // Bijna wit, heel subtiel

$transition-speed: 0.4s ease-in-out;
